<div id="<%= dom_id content %>">
  
	<% if content.cover %>
	<%= image_tag content.cover.representation(resize_to_limit: [100, 100]) %>
    <% end %>
  <p>
    <%= content.titolo %>
  </p>

  <p>  
    <%= content.descrizione %>
  </p>

  <p>  
    <%= content.price %>
  </p>

</div>
