<%= form_with(model: content) do |form| %>
  <% if content.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
        <% content.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <label> Carica il contenuto digitale che vuoi vendere (Powerpoint, Excel, Word, PDF, Immagini e mp3 </label>
    <br>
    <%= form.file_field :contenuto %>
  </div>

  <br>

  <div>
    <%= form.label :titolo, style: "display: block" %>
    <%= form.text_field :titolo %>
  </div>

  <div>
    <%= form.label :descrizione, style: "display: block" %>
    <%= form.text_area :descrizione, class: "materialize-textarea" %>
  </div>

  <div>
    <%= form.label :prezzo, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <br>

  <div>
     <label> Carica un'immagine da utilizzare come cover del contenuto </label>
     <br>
    <%= form.file_field :cover %>
  </div>

  <br>
  <br>

  <div class="center">
    <%= form.submit "Salva il contenuto", class:"waves-effect waves-light blue darken-4 btn btn-devise" %>
  </div>

<% end %>
