
<header class='navbar-fixed'>        
	<nav class= 'blue darken-4'>
    <div class= "container nav-wrapper">
            <%= link_to "Edpmarket", root_path, class: "brand-logo"%>       
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">

        <li> <%= link_to "About", about_path %> </li>      
        <li> <%= link_to "LogIn", new_user_session_path %> </li>
        <li> <%= link_to "Registrazione", new_user_registration_path %> </li>

      </ul>
      <ul class="sidenav" id="mobile-demo">
            <%= link_to "About", about_path %>
      </ul>
    </div>
	</nav>
</header>